body {
    font-family: Arial;
}

caption {
    font-size: 18px;
    color: blue;
}

th {
    background-color: lightgray;
}

td {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}
